.container, .container-fluid {
  padding-top: 1em; }

.tab-content {
  padding-top: 1em;
}

dd {
  margin-left: 1.2em;
  margin-bottom: 0.5em; }

table th {
  text-align: center; }

footer {
  height: 2em; }

pre {
  padding: 0.5em;
}

figure {
  margin: 1em auto; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center; }
