<!DOCTYPE html>
<html>
<head>
    #parse("admin_head_common.vm")

    <title>Cantaloupe Image Server</title>
</head>

<body id="cl-landing">

<div class="container-fluid">
    #parse("admin_header.vm")

    <div class="row">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active">
                    <a href="#cl-status" aria-controls="cl-status" role="tab" data-toggle="tab">Status</a>
                </li>
                <li role="presentation">
                    <a href="#cl-endpoints" aria-controls="cl-endpoints" role="tab" data-toggle="tab">Endpoints</a>
                </li>
                <li role="presentation">
                    <a href="#cl-resolver" aria-controls="cl-resolver" role="tab" data-toggle="tab">Resolver</a>
                </li>
                <li role="presentation">
                    <a href="#cl-processors" aria-controls="cl-processors" role="tab" data-toggle="tab">Processors</a>
                </li>
                <li role="presentation">
                    <a href="#cl-caches" aria-controls="cl-caches" role="tab" data-toggle="tab">Caches</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="cl-status">
                    <h2>Status</h2>

                    <section>
                        <h3>Memory</h3>
                        <table class="table table-condensed table-bordered">
                            <tr>
                                <td>Used Heap</td>
                                <td>$usedHeap MB</td>
                            </tr>
                            <tr>
                                <td>Available Heap</td>
                                <td>$freeHeap MB</td>
                            </tr>
                            <tr>
                                <td>Total Heap</td>
                                <td>$totalHeap MB</td>
                            </tr>
                            <tr>
                                <td>Max Heap</td>
                                <td>$maxHeap MB</td>
                            </tr>
                        </table>
                    </section>

                    <section>
                        <h3>VM Arguments</h3>
                        <table class="table table-condensed table-bordered">
                            #foreach ($arg in $vmArguments)
                                <tr>
                                    <td>$arg</td>
                                </tr>
                            #end
                        </table>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-endpoints">
                    <h3>Endpoints</h3>
                    <table class="table-condensed">
                        <tr>
                            <td><a href="$baseUri/iiif/1">IIIF Image API 1.x</a></td>
                            <td>
                                #if ($iiif1EndpointEnabled)
                                    <span class="label label-success">Enabled</span>
                                #else
                                    <span class="label label-danger">Disabled</span>
                                #end
                            </td>
                        </tr>
                        <tr>
                            <td><a href="$baseUri/iiif/2">IIIF Image API 2.x</a></td>
                            <td>
                                #if ($iiif2EndpointEnabled)
                                    <span class="label label-success">Enabled</span>
                                #else
                                    <span class="label label-danger">Disabled</span>
                                #end
                            </td>
                        </tr>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-resolver">
                    <h3>Resolver</h3>
                    <p>$resolverName</p>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-processors">
                    <section>
                        <h3>Effective Source Format Assignments</h3>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#image-assignments"
                                   aria-controls="image-assignments" role="tab"
                                   data-toggle="tab">Image</a>
                            </li>
                            <li role="presentation">
                                <a href="#video-assignments"
                                   aria-controls="video-assignments" role="tab"
                                   data-toggle="tab">Video</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="image-assignments">
                                <table class="table table-condensed table-bordered cl-source-format-assignments">
                                    #foreach ($format in $processorAssignments.keySet())
                                        #if ($format.isImage())
                                            <tr>
                                                <td style="width:30%">$format.getName()</td>
                                                <td>$processorAssignments.get($format)</td>
                                            </tr>
                                        #end
                                    #end
                                </table>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="video-assignments">
                                <table class="table table-condensed table-bordered cl-source-format-assignments">
                                    #foreach ($format in $processorAssignments.keySet())
                                        #if (!$format.isImage())
                                            <tr>
                                                <td style="width:30%">$format.getName()</td>
                                                <td>$processorAssignments.get($format)</td>
                                            </tr>
                                        #end
                                    #end
                                </table>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h3>Supported Source Formats</h3>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#supported-image-formats"
                                   aria-controls="supported-image-formats" role="tab"
                                   data-toggle="tab">Image</a>
                            </li>
                            <li role="presentation">
                                <a href="#supported-video-formats"
                                   aria-controls="supported-video-formats" role="tab"
                                   data-toggle="tab">Video</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="supported-image-formats">
                                <table class="table table-condensed table-bordered">
                                    <tr>
                                        <th></th>
                                        #foreach ($format in $imageSourceFormats)
                                            <th class="text-center">$format.getName()</th>
                                        #end
                                    </tr>

                                    #foreach ($processor in $processors)
                                        <tr>
                                            <td>$processor.getName()</td>
                                            #foreach ($format in $imageSourceFormats)
                                                #if ($processor.supports($format))
                                                    <td class="text-center success">
                                                        <span class="text-success">&check;</span>
                                                    </td>
                                                #else
                                                    <td class="text-center danger">
                                                    </td>
                                                #end
                                            #end
                                        </tr>
                                    #end
                                </table>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="supported-video-formats">
                                <table class="table table-condensed table-bordered">
                                    <tr>
                                        <th></th>
                                        #foreach ($format in $videoSourceFormats)
                                            <th class="text-center">$format.getName()</th>
                                        #end
                                    </tr>

                                    #foreach ($processor in $processors)
                                        <tr>
                                            <td>$processor.getName()</td>
                                            #foreach ($format in $videoSourceFormats)
                                                #if ($processor.supports($format))
                                                    <td class="text-center success">
                                                        <span class="text-success">&check;</span>
                                                    </td>
                                                #else
                                                    <td class="text-center danger">
                                                    </td>
                                                #end
                                            #end
                                        </tr>
                                    #end
                                </table>
                            </div>
                        </div>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-caches">
                    <section>
                        <h3>Source Cache</h3>
                        <p>$sourceCacheName</p>
                    </section>
                    <section>
                        <h3>Derivative Cache</h3>
                        <p>$derivativeCacheName</p>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
