<!DOCTYPE html>
<html>
<head>
    #if ($baseUri)
        <base href="$baseUri/">
    #end
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/styles/admin.css">

    <!-- TODO: move these to footer -->
    <script type="text/javascript" src="static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts/bootstrap.min.js"></script>

    <title>Cantaloupe Image Server</title>
</head>

<body id="cl-landing">

<div class="container-fluid">
    <div class="clearfix">
        <header>
            <img src="$baseUri/static/images/cantaloupe-320.png" alt="Cantaloupe icon"
                 width="154" height="82" style="float:left">
            <h1>Cantaloupe Image Server <small>$version</small></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked list-group">
                <li role="presentation" class="list-group-item active">
                    <a href="#cl-status" aria-controls="cl-status" role="tab" data-toggle="tab">Status</a>
                </li>
                <li role="presentation" class="list-group-item">
                    <a href="#cl-endpoints" aria-controls="cl-endpoints" role="tab" data-toggle="tab">Endpoints</a>
                </li>
                <li role="presentation" class="list-group-item">
                    <a href="#cl-resolver" aria-controls="cl-resolver" role="tab" data-toggle="tab">Resolver</a>
                </li>
                <li role="presentation" class="list-group-item">
                    <a href="#cl-processors" aria-controls="cl-processors" role="tab" data-toggle="tab">Processors</a>
                </li>
                <li role="presentation" class="list-group-item">
                    <a href="#cl-caches" aria-controls="cl-caches" role="tab" data-toggle="tab">Caches</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="cl-status">
                    <h2>Status</h2>

                    <section>
                        <h3>Memory</h3>
                        <table class="table table-striped">
                            <tr>
                                <td>Used Heap</td>
                                <td>$usedHeap MB</td>
                            </tr>
                            <tr>
                                <td>Available Heap</td>
                                <td>$freeHeap MB</td>
                            </tr>
                            <tr>
                                <td>Total Heap</td>
                                <td>$totalHeap MB</td>
                            </tr>
                            <tr>
                                <td>Max Heap</td>
                                <td>$maxHeap MB</td>
                            </tr>
                        </table>

                        <div class="progress">
                            <div class="progress-bar $memoryBarClass"
                                 aria-valuenow="$memoryBarValue"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width: $memoryBarValue%">
                                <span class="sr-only">$memoryBarValue% memory used</span>
                            </div>
                        </div>

                    </section>

                    <section>
                        <h3>VM Arguments</h3>
                        <table class="table">
                            #foreach ($arg in $vmArguments)
                                <tr>
                                    <td>$arg</td>
                                </tr>
                            #end
                        </table>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-endpoints">
                    <h2>Endpoints</h2>

                    <div class="list-group">
                        <a href="$baseUri/iiif/1" class="list-group-item" target="_blank">
                            IIIF Image API 1.x
                            #if ($iiif1EndpointEnabled)
                                <span class="label label-success">Enabled</span>
                            #else
                                <span class="label label-danger">Disabled</span>
                            #end
                        </a>
                        <a href="$baseUri/iiif/2" class="list-group-item" target="_blank">
                            IIIF Image API 2.x
                            #if ($iiif2EndpointEnabled)
                                <span class="label label-success">Enabled</span>
                            #else
                                <span class="label label-danger">Disabled</span>
                            #end
                        </a>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-resolver">
                    <h2>Resolver</h2>
                    <p>$resolverName</p>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-processors">
                    <section>
                        <h2>Effective Source Format Assignments</h2>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#cl-image-assignments"
                                   aria-controls="cl-image-assignments" role="tab"
                                   data-toggle="tab">Image</a>
                            </li>
                            <li role="presentation">
                                <a href="#cl-video-assignments"
                                   aria-controls="cl-video-assignments" role="tab"
                                   data-toggle="tab">Video</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="cl-image-assignments">
                                <table class="table table-striped cl-source-format-assignments">
                                    #foreach ($format in $processorAssignments.keySet())
                                        #if ($format.isImage())
                                            <tr>
                                                <td style="width:30%">$format.getName()</td>
                                                <td>$processorAssignments.get($format)</td>
                                            </tr>
                                        #end
                                    #end
                                </table>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="cl-video-assignments">
                                <table class="table table-striped cl-source-format-assignments">
                                    #foreach ($format in $processorAssignments.keySet())
                                        #if (!$format.isImage())
                                            <tr>
                                                <td style="width:30%">$format.getName()</td>
                                                <td>$processorAssignments.get($format)</td>
                                            </tr>
                                        #end
                                    #end
                                </table>
                            </div>
                        </div>
                    </section>

                    <section>
                        <h2>Supported Source Formats</h2>

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#supported-image-formats"
                                   aria-controls="supported-image-formats" role="tab"
                                   data-toggle="tab">Image</a>
                            </li>
                            <li role="presentation">
                                <a href="#supported-video-formats"
                                   aria-controls="supported-video-formats" role="tab"
                                   data-toggle="tab">Video</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="supported-image-formats">
                                <table class="table">
                                    <tr>
                                        <th></th>
                                        #foreach ($format in $imageSourceFormats)
                                            <th class="text-center">$format.getName()</th>
                                        #end
                                    </tr>

                                    #foreach ($processor in $processors)
                                        <tr>
                                            <td>$processor.getName()</td>
                                            #foreach ($format in $imageSourceFormats)
                                                #if ($processor.supports($format))
                                                    <td class="text-center success">
                                                        <span class="text-success">&check;</span>
                                                    </td>
                                                #else
                                                    <td class="text-center danger">
                                                    </td>
                                                #end
                                            #end
                                        </tr>
                                    #end
                                </table>
                            </div>

                            <div role="tabpanel" class="tab-pane" id="supported-video-formats">
                                <table class="table">
                                    <tr>
                                        <th></th>
                                        #foreach ($format in $videoSourceFormats)
                                            <th class="text-center">$format.getName()</th>
                                        #end
                                    </tr>

                                    #foreach ($processor in $processors)
                                        <tr>
                                            <td>$processor.getName()</td>
                                            #foreach ($format in $videoSourceFormats)
                                                #if ($processor.supports($format))
                                                    <td class="text-center success">
                                                        <span class="text-success">&check;</span>
                                                    </td>
                                                #else
                                                    <td class="text-center danger">
                                                    </td>
                                                #end
                                            #end
                                        </tr>
                                    #end
                                </table>
                            </div>
                        </div>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="cl-caches">
                    <section>
                        <h2>Source Cache</h2>
                        <p>$sourceCacheName</p>
                    </section>
                    <section>
                        <h2>Derivative Cache</h2>
                        <p>$derivativeCacheName</p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="https://medusa-project.github.io/cantaloupe/">Home (GitHub)</a> |
        <a href="https://medusa-project.github.io/cantaloupe/manual/$version/">User Manual</a>
    </footer>

</div>
</body>
</html>
