<div class="clearfix">
    <header>
        <img src="$baseUri/static/images/cantaloupe-320.png" alt="Cantaloupe icon"
             width="154" height="82" style="float:left">
        <h1>Cantaloupe Image Server <small>$version</small></h1>
        <a href="https://medusa-project.github.io/cantaloupe/">Home</a> |
        <a href="https://medusa-project.github.io/cantaloupe/manual/$version/">User Manual</a>
    </header>
</div>
