<!DOCTYPE html>
<html>
    <head>
        #parse("head_common.vm")

        <title>$pageTitle</title>
    </head>

    <body id="cantaloupe-error">
        <div class="container-fluid">
            <h1>$pageTitle</h1>

            #if ($message)
                <p>$message</p>
            #end

            #if ($stackTrace)
                <pre>$stackTrace</pre>
            #end

        </div>
    </body>
</html>
