<!DOCTYPE html>
<html>
<head>
    #parse("head_common.vm")

    <title>Cantaloupe Image Server</title>
</head>

<body id="cl-landing">
    <div class="container-fluid">
        <h1>IIIF Image API 1.x Endpoint</h1>

        <ul>
            <li>Documentation
                <ul>
                    <li><a href="http://iiif.io/api/image/1.0/">1.0</a></li>
                    <li><a href="http://iiif.io/api/image/1.1/">1.1</a></li>
                </ul>
            </li>
            <li>Sample Requests
                <ul>
                    <li>$baseUri/iiif/1/{identifier}/info.json</li>
                    <li>$baseUri/iiif/1/{identifier}/full/full/0/native.jpg</li>
                </ul>
            </li>
            <li>Also Available:
                <ul>
                    <li><a href="$baseUri/iiif/2">IIIF Image API 2.x endpoint</a></li>
                    <li><a href="$baseUri/iiif/3">IIIF Image API 3.x endpoint</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>
