<!DOCTYPE html>
<html>
<head>
    #parse("head_common.vm")

    <title>Cantaloupe Image Server</title>
</head>

<body id="cl-landing">
    <div class="container-fluid">
        #parse("header.vm")

        <h2>IIIF Image API 1.x Endpoint</h2>

        <ul>
            <li><a href="http://iiif.io/api/image/1.0/">1.0 Documentation</a></li>
            <li><a href="http://iiif.io/api/image/1.1/">1.1 Documentation</a></li>
            <li>Sample Requests
                <ul>
                    <li>$baseUri/iiif/1/{identifier}/info.json</li>
                    <li>$baseUri/iiif/1/{identifier}/full/full/0/native.jpg</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>
