<!DOCTYPE html>
<html>
<head>
    #parse("head_common.vm")

    <title>Cantaloupe Image Server</title>
</head>

<body id="cl-landing">
    <div class="container-fluid">
        #parse("header.vm")

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">IIIF Image API 1.1 Endpoint</li>
        </ol>

        <h2>IIIF Image API 1.1 Endpoint</h2>

        <ul>
            <li><a href="http://iiif.io/api/image/1.1/">IIIF Image API 1.1</a></li>
        </ul>
    </div>
</body>
</html>
