<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <title>Cantaloupe IIIF Image API 2.0 Server</title>
        <style type="text/css">
            body {
                font-size: 1.5em;
            }
            h1 {
                margin-bottom: 0.8em;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid">
            <h1>&#127816; Cantaloupe IIIF Image API 2.0 Server</h1>

            <h3>Resolver</h3>
            <p>$resolverName</p>

            <h3>Effective Source Format Assignments</h3>

            <table class="table table-condensed table-bordered">
                #foreach ($sourceFormat in $processorAssignments.keySet())
                    <tr>
                        <td style="width:10%">$sourceFormat.getName()</td>
                        <td>$processorAssignments.get($sourceFormat)</td>
                    </tr>
                #end
            </table>

            <h3>Supported Source Formats</h3>

            <table class="table table-condensed table-bordered">
                <tr>
                    <th></th>
                    #foreach ($sourceFormat in $sourceFormats)
                        <th class="text-center">$sourceFormat.getName()</th>
                    #end
                </tr>

                #foreach ($processor in $processors)
                    <tr>
                        <td>$processor.getClass().getSimpleName()</td>
                        #foreach ($sourceFormat in $sourceFormats)
                            <td class="text-center">
                                #if ($processor.getSupportedSourceFormats().contains($sourceFormat))
                                    <span class="text-success">&check;</span>
                                #end
                            </td>
                        #end
                    </tr>
                #end
            </table>
        </div>
    </body>
</html>
