@import url(/static/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Cabin);

/* base styles */

body {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}

h1 {
    margin-bottom: 0.8em;
    margin-top: 0.9em;
}

/* landing page */

body#cantaloupe-landing table#cantaloupe-source-format-assignments td:first-child {
    text-align: right;
}

body#cantaloupe-landing img {
    margin: 1em 1.2em 1em 0;
}

/* error page */

body#cantaloupe-error p {
    margin-bottom: 1.4em;
    margin-top: 0em;
}
