@import url(/static/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Cabin);

/* base styles */

body {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}

h1 {
    margin-bottom: 0.8em;
    margin-top: 0.6em;
}

dt {
    font-weight: normal;
}

dd {
    margin-left: 1em;
}

/* landing page */

body#cl-landing table#cl-source-format-assignments td:first-child {
    text-align: right;
}

body#cl-landing header {
    padding-bottom: 1.8em;
}

body#cl-landing header h1 {
    margin-bottom: 0.3em;
}

body#cl-landing header img {
    margin: 0em 1.2em 1em 0;
}

body#cl-landing header a {
    font-size: 0.8em;
}

body#cl-landing section {
    border-top: 1px solid #e0e0e0;
    padding: 0.6em 0em 1.1em 0em;
}

/* error page */

body#cl-error p {
    margin-bottom: 1.4em;
    margin-top: 0em;
}
