<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>
    {{ site.title }}
    {% if page.title %}
      :: {{ page.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

  {% if page.layout contains 'manual' %}
    <link rel="stylesheet" href="{{ "/css/manual.css" | prepend: site.baseurl }}">
  {% else %}
    <link rel="stylesheet" href="{{ "/css/website.css" | prepend: site.baseurl }}">
  {% endif %}

  <script src="{{ "/scripts/jquery.min.js" | prepend: site.baseurl }}"></script>

</head>
