<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img alt="Cantaloupe" src="{{ site.baseurl }}/images/cantaloupe.png" width="40">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/get-started.html">Get Started</a></li>
        <li><a href="{{ site.baseurl }}/manual/">User Manual</a></li>
        <li><a href="{{ site.baseurl }}/support.html">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/medusa-project/cantaloupe/releases.atom" title="Subscribe to Releases"><img width="22" height="22" src="{{ site.baseurl }}/images/feed.svg"></a></li>
      </ul>
    </div>

  </div>
</nav>
