<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img alt="Cantaloupe" src="{{ site.baseurl }}/images/cantaloupe.png" width="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-items">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {% if page.path contains 'manual/' %} active {% endif %}" href="#" id="user-manual-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User Manual
        </a>
        <div class="dropdown-menu" aria-labelledby="user-manual-dropdown">
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/4.1/getting-started.html">4.1</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/4.0/getting-started.html">4.0</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/3.4/getting-started.html">3.4</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/3.3/getting-started.html">3.3</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/3.2/getting-started.html">3.2</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/3.1/getting-started.html">3.1</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/manual/3.0/getting-started.html">3.0</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/medusa-project/cantaloupe/">GitHub</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a href="https://github.com/medusa-project/cantaloupe/releases.atom" title="Subscribe to Releases">
          <img width="22" height="22" src="{{ site.baseurl }}/images/feed.svg">
        </a>
      </li>
    </ul>
  </div>
</nav>
