@import url(bootstrap-admin.min.css);

header {
    margin-bottom: 3em;
}

header img {
    margin-right: 0.8em;
}

header h1 {
    padding-top: 0.4em;
}

footer {
    padding: 2em 0em;
    text-align: center;
}

section {
    margin-bottom: 3em;
}

h2 {
    font-size: 1.6em;
    margin-top: 0px;
}

h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 0.8em; }

pre {
    background-color: #1b2e40;
    border: 0px;
    color: white;
    overflow-x: scroll;
}

var, span.filename {
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 0.85em;
    font-style: normal;
}

table, .table, .checkbox label, .radio label {
    font-size: 1em;
}

.table td:first-child {
    text-align: right;
    vertical-align: middle;
}

#cl-status-memory td:first-child,
#cl-proxy-headers td:first-child,
#cl-status-vm td:first-child {
    white-space: nowrap;
    width: 30%;
}

#cl-status-internal-caches td:first-child {
    width: 70%;
}

.list-group-item {
    padding: 0px;
}

.form-control, code {
    background-color: #1b2e40;
    color: white;
}

textarea.form-control {
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 0.85em;
}

.nav > li.list-group-item > a {
    padding: 12px 15px;
}

table.cl-source-format-assignments td:first-child {
    text-align: right;
}

#cl-processor-warnings td {
    color: #2b3e50;
}

#cl-processor-warnings ul {
    margin-top: 0px;
    margin-bottom: 0px;
}