@import url(base.css);

body#cl-admin table.cl-source-format-assignments td:first-child {
    text-align: right;
}

body#cl-admin section {
    border-top: 1px solid #e0e0e0;
    padding: 0.6em 0em 1.1em 0em;
}
