@import url(bootstrap-admin.min.css);

header {
    margin-bottom: 3em;
}

header img {
    margin-right: 0.8em;
}

header h1 {
    padding-top: 0.4em;
}

footer {
    text-align: center;
}

h2 {
    margin-top: 0px;
}

table, .table {
    font-size: 1em;
}

.label {
    text-transform: uppercase;
}

table.cl-source-format-assignments td:first-child {
    text-align: right;
}
