@import url(bootstrap.min.css);

@font-face {
    font-family: Cabin;
    src: url(../Cabin-Regular.woff);
}

/* base styles */

body {
    font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}

h1 {
    margin-bottom: 0.8em;
    margin-top: 0.6em;
}

dt {
    font-weight: normal;
}

dd {
    margin-left: 1em;
}

.label {
    font-size: 0.7em;
    text-transform: uppercase;
    vertical-align: 30%;
}

.breadcrumb {
    font-size: 0.9em;
}

.tab-content {
    padding-top: 0.8em;
}

header {
    padding-bottom: 1.8em;
}

header h1 {
    margin-bottom: 0.3em;
}

header img {
    margin: 0em 1.2em 0em 0;
}

header a {
    font-size: 0.8em;
}

header .col-sm-3 {
    padding-top: 2em;
}

/* error page */

body#cl-error p {
    margin-bottom: 1.4em;
    margin-top: 0em;
}
