html, body {
    height: 100%;
}

#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

img {
    margin-bottom: 18px;
}

h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
}

small {
    color: #a0a0a0;
    font-size: 0.6em;
}