<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Cantaloupe</display-name>

    <listener>
        <display-name>ApplicationListener</display-name>
        <listener-class>edu.illinois.library.cantaloupe.ApplicationContextListener</listener-class>
    </listener>
    <listener>
        <display-name>IIOProviderContextListener</display-name>
        <listener-class>edu.illinois.library.cantaloupe.processor.codec.IIOProviderContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>HandlerServlet</servlet-name>
        <servlet-class>edu.illinois.library.cantaloupe.resource.HandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HandlerServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
</web-app>
