---
---

@import url(bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Cabin);

/* base styles */

body {
  font-size: 1.6em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

h3, h4, h5, h6 {
  margin-top: 1.1em;
}

dd {
  margin-left: 1.2em;
}

h2 { font-size: 1.9em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1em;
  a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  img {
    float: left;
    margin: 0em 1.2em 1em 0;
  }
  h1 > small {
    font-size:0.5em;
  }
}

/* table of contents */

nav#toc {
  margin-top: 2em;
  ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    ul {
      margin-left:1em;
      padding-left: 0px;
    }
  }
}

table th {
  text-align: center;
}

footer {
  height: 2em;
}

span.filename {
  font-family: monospace;
}

figure {
  margin: 1em auto;
}

figcaption {
  color: #606060;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}
