---
---

@import url(bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Cabin);

/* base styles */

body {
  font-size: 1.6em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

h3, h4, h5, h6 {
  margin-top: 1.1em;
}

header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1em;
  a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
  img {
    float: left;
    margin: 0em 1.2em 1em 0;
  }
  h1 > small {
    font-size:0.5em;
  }
}

/* table of contents */

nav#toc {
  margin-top: 2em;
  ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    ul {
      margin-left:1em;
      padding-left: 0px;
    }
  }
}

footer {
  height: 2em;
}

span.filename {
  font-family: monospace;
}
