---
---

@import "bootstrap-flatly.min.css";
@import "common";

body {
  font-size: 1em;
}

.container, .container-fluid {
  a {
    color: #5bc0de;
  }
}

nav a:hover {
  color: #5bc0de !important;
}

.list-group-item-action.active a, .bg-success a, .bg-warning a, .bg-danger a, .btn-primary {
  color: white !important;
}

.alert-danger code {
  color: white;
}

.bg-primary, .list-group-item.active, .alert-primary {
  background-color: #3A3F44 !important;
}

.dropdown-item:hover {
  color:white !important;
}

h2 {
  color: #404040;
  font-size: 2.5em;
}

h3 {
  color: #606060;
  font-size: 1.7em;
}

h4 { font-size: 1.4em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1.1em; }

h4, h5, h6 {
  color: #808080;
  font-weight: 200;
}

table .bg-success, table .bg-warning, table .bg-danger {
  color: #2e3238;
}

ul.toc, ul.toc ul {
  margin-left: 1.5em;
  padding-left: 0em; }

code, span.filename, var, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 0.9em;
  padding: 0.25em 0.1em; }

figure {
  margin: 1em auto; }

figcaption {
  font-size: 0.9em;
  font-style: italic;
  text-align: center; }
