name: CI
on:
  push:
    branches:
      - develop
      - release/*
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        java: [jdk11, jdk18, graalvm]
      fail-fast: false
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      - name: Test in Linux JDK 11
        if: matrix.os == 'ubuntu-latest' && matrix.java == 'jdk11'
        run: docker compose -f docker/Linux-JDK11/docker-compose.yml up --build --exit-code-from cantaloupe
      - name: Test in Linux JDK 18
        if: matrix.os == 'ubuntu-latest' && matrix.java == 'jdk18'
        run: docker compose -f docker/Linux-JDK18/docker-compose.yml up --build --exit-code-from cantaloupe
      - name: Test in Linux GraalVM
        if: matrix.os == 'ubuntu-latest' && matrix.java == 'graalvm'
        run: docker compose -f docker/Linux-GraalVM20/docker-compose.yml up --build --exit-code-from cantaloupe
      - name: Test in Windows JDK 11
        if: matrix.os == 'windows-latest' && matrix.java == 'jdk11'
        run: docker compose -f docker/Windows-JDK11/docker-compose.yml up --build --exit-code-from cantaloupe
      - name: Test in Windows JDK 18
        if: matrix.os == 'windows-latest' && matrix.java == 'jdk18'
        run: docker compose -f docker/Windows-JDK18/docker-compose.yml up --build --exit-code-from cantaloupe
      # TODO: Windows+GraalVM
