name: CI
on: [push]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
      - name: Test in Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          docker pull amazon/dynamodb-local
          docker build -f docker/Linux-JDK11/Dockerfile -t cantaloupe/tests .
          docker run --name cantaloupe-minio -d -p 7229:7229 cantaloupe/tests /bin/sh -c "./minio server --address :7229 /home/cantaloupe/s3"
          docker run --name cantaloupe-redis -d -p 7230:7230 cantaloupe/tests /bin/sh -c "redis-server --port 7230 --protected-mode no"
          docker run -d -p 8000:8000 amazon/dynamodb-local
          docker run --net host --user cantaloupe cantaloupe/tests /bin/sh -c "cd /home/cantaloupe; mvn test -Pfreedeps"
      - name: Test in Windows
        if: matrix.os == 'windows-latest'
        run: |
          docker build -f docker/Windows10-JDK11/Dockerfile -t cantaloupe/tests .
          docker run cantaloupe/tests cmd /c "mvn test -Pnodeps"
